#inputBusca {
    width: 50%;
    padding: 10px;
    font-size: 1em;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    text-align: center;
    margin: 0 auto;
}

input:hover {
    border-color: #646cff;
    box-shadow: 0 4px 8px rgba(100, 108, 255, 0.2);
}