body {
  background-color: #fdbaff;
  margin: 0;
  align-items: center;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
}


@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}